---
title: "Tools for Action"
layout: primary
lead: "Co-design and collaborate with communities around an open data project"
content_wide: true
content_focus: false
banner_cta: true
gridless: true
---

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <img src="{{ site.baseurl }}/assets/img/general/open-data-day.jpg" />
      <h3 class="p-line-height p-normal pad-bottom-mobile">Governments that publish community-centered open data and information can go beyond transparency by co-designing and collaborating with community members to solve local challenges. Bringing open data to where residents are can help spark dialogues and inspire innovation. Data providers can use the strategies we’ve compiled below to apply open data for local impact.</h3>
      <h3 class="p-line-height p-normal pad-bottom-mobile">This section of our site is still in development.</h3>
      <br>
      <!-- <br>
      <h3>Co-creating and planning</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor:</p> -->
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Collaboration playbooks</h3>
      <p>We’ve assembled the following playbooks to show you how cities and data-savvy organizations are collaborating with diverse stakeholder groups to build community relationships and apply open data. Each playbook was assembled in cooperation with host organizations, with step-by-step instructions for readers to test out strategies on their own.</p>
      <!-- <p>We've assembled the following playbooks to demonstrate how cities and data-savvy organizations are collaborating with diverse stakeholder groups to build community relationships and apply open data. Each playbook was assembled in cooperation with host organizations, with step-by-step instructions for readers to test out strategies on their own.</p>
      <p>These playbooks are designed to provide a closer look at Tactical Data Engagement in real communities. Ideas included are built from real-world examples of events or strategies data providers have implemented to better connect residents to open data.</p>
      <p>Although we have included these playbooks on this <em>Action tools</em> page as tactics to use during the Action phase, consider using them during the Discovery phase as well. The tactics described in these playbooks are versatile — much like the rest of the TDE approach — and should be used creatively.</p> -->
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/action-thumbnails/code-for-pgh.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="TDE Playbook"
         tagline="Data User Groups"
         description="Learn what a data user group is, and how it can help strengthen communication between data providers, users, and intermediaries to solve community challenges."
         link="https://sunlight-foundation.gitbooks.io/playbook-data-user-groups/content/home.html"
        %}
        {% include card.html
         image_src="/assets/img/action-thumbnails/scopeathon-blog.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="TDE Playbook"
         tagline="Scope-a-thons"
         description="A scope-a-thon is a day-long collaborative event where local experts convene to scope and plan solutions that incorporate data and technology to address community challenges."
         link="https://sunlight-foundation.gitbooks.io/playbook-scope-a-thons/content/"
        %}
      </div>
    </div>
  </section>
</div>
