---
title: "Tools for Action"
layout: primary
lead: "Co-design and collaborate with communities around an open data project"
content_wide: true
content_focus: false
banner_cta: true
gridless: true
image_primary: "/assets/img/general/open-data-day.jpg"
---

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3 class="p-line-height p-normal pad-bottom-mobile">Governments that publish community-centered open data and information can go beyond transparency by co-designing and collaborating with community members to solve local challenges. Bringing open data to where residents are can help spark dialogues and inspire innovation. Data providers can use the strategies we’ve compiled below to apply open data for local impact.</h3>
      <img src="{{ site.baseurl }}/assets/img/general/open-data-day.jpg" />
      <!-- <h3 class="p-line-height p-normal pad-bottom-mobile">This section of our site is still in development.</h3> -->
      <br>
      <br>
    </div>
  </section>
</div>


<div class="usa-grid usa-section">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Choosing a level of action to take</h2>
      <p>Action can take many forms, ranging from fundamental steps to lower barriers to open data access to more substantive collaboration and power sharing with specific community partners who can leverage open data for specific outcomes.</p>
      <p>We have created a “maturity scale” to help you think about these different levels of action.</p>
      <img src="{{ site.baseurl }}/assets/img/action-resources/tde-maturity-scale.png" />
      <p>When designing interventions to support your researched community use cases for open data, it can be helpful to brainstorm what kinds of actions you might take to better support your target open data users and use cases at each of the levels on this scale.</p>
      <a href="{{ site.baseurl }}/action/maturity-scale">
        <button class="usa-button usa-button-big">Explore the Open Data Maturity Scale</button>
      </a>
      <br>
      <br>
    </div>
  </section>
</div>



<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Finding collaborators</h2>
      <p>In order to co-design and implement an intervention, you will need community partners. Make sure you do this before moving on.</p>
      <!-- <p><strong>Goal:</strong> Finding community collaborators to co-design with.</p> -->
      <p><em>We will be adding more resources to this section. Stay tuned!</em></p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/action-thumbnails/code-for-pgh.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Playbook"
         tagline="Data User Groups"
         description="Learn what a data user group is, and how it can help strengthen communication between data providers, users, and intermediaries to solve community challenges."
         link="https://sunlight-foundation.gitbooks.io/playbook-data-user-groups/content/home.html"
        %}
        <!-- {% include card.html
         image_src="/assets/img/discovery-thumbnails/stakeholder-map-small.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Playbook"
         tagline="Data Days CLE/Data Walks"
         description="IRL/analog data visualizations that non-technical people can engage with."
         link=""
        %} -->
        <!-- {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="What is a data intermediary?"
         description="Could include some descriptions/profiles of a few different types of data intermediaries. Common traits of data intermediaries and how to identify them."
         link=""
        %} -->
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Co-designing with the community</h2>
      <p>Now it’s time to leverage your community relationships in order to co-design a potential solution.</p>
      <p>The goal in this step is to create a community-informed action plan and knowing what you plan to build or publish.</p>
      <!-- <p><strong>Goal:</strong> Creating a community-informed action plan and knowing what you plan to build or publish.</p> -->
      <div class="funfact-blockquote">
        In our <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> framework, these resources correspond with <a href="{{ site.baseurl }}/methodology/#step-3-design">Step 3: Design</a>.
      </div>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/action-resources/service-design-tools.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Guide to co-design"
         description="Learn what co-design is, see an example of it in action, and get some tips of how to apply co-design in your context."
         link="/action/codesign"
        %}
        {% include card.html
         image_src="/assets/img/action-thumbnails/scopeathon-blog.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Playbook"
         tagline="Scope-a-thons"
         description="A scope-a-thon is a day-long collaborative event where local experts convene to scope and plan solutions that incorporate data and technology to address community challenges."
         link="https://sunlight-open-cities.gitbook.io/playbook-open-data-scope-a-thon/"
        %}
        <!-- {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="When public consultations & public comments don’t work"
         description="(Blog post)"
         link=""
        %} -->
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Implementing a solution</h2>
      <p>This step is where you help actual users, identified through previous research and co-design, to carry out the planned intervention that addresses your community-approved open data use case.</p>
      <p>Carrying out this intervention is the culmination of facilitating community use of open data.</p>
      <p><em>What the process of implementation looks like will be highly dependent on what you have chosen as your solution.</em> Regardless, you should seek user feedback by doing user testing, in order to validate if your solution addresses user needs and to get feedback to further improve it.</p>
      <!-- <p><strong>Goal:</strong> Something real!!! Data solution</p> -->
      <div class="funfact-blockquote">
        In our <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> framework, these resources correspond with <a href="{{ site.baseurl }}/methodology/#step-4-implement">Step 4: Implement</a>.
      </div>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="none"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Draft"
         tagline="Guide to user testing"
         description="Learn how to run activities to get feedback from test users."
         link="/action/draft/guide-to-user-testing"
        %}
      </div>
    </div>
  </section>
</div>


<!-- <div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Iterate!</h2>
      <p>This entire process is meant to be iterative. After launching some new solution, we encourage you to see how things work out, and improve things by returning to one of the previous steps and then following the successive steps again.</p>
      <p>[Include some sort of graphic? Such as a modified version of these below?]</p>
      <img src="{{ site.baseurl }}/assets/img/tde/tde-return-to-1find.png" />
      <img src="{{ site.baseurl }}/assets/img/tde/tde-return-to-2refine.png" />
      <img src="{{ site.baseurl }}/assets/img/tde/tde-return-to-3design.png" />
      <p>[Include anything about results evaluation?]</p>
    </div>
  </section>
</div> -->
<br>
<br>
<br>
<br>
