---
title: "Tools for Action"
layout: primary
lead: "Co-design and collaborate with communities around an open data project"
content_wide: true
gridless: true
---

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3 class="p-line-height p-normal pad-bottom-mobile">Now it’s time to take what you have found in <a href="{{ site.baseurl }}/discovery/">Discovery phase</a> and create a solution that leverages open data — collaborating with the community using co-design methods.</h3>
      <br>
      <img src="{{ site.baseurl }}/assets/img/general/open-data-day.jpg" />
      <br>
      <p>Governments that publish community-centered open data and information can go beyond transparency by co-designing and collaborating with community members to solve local challenges. Bringing open data to where community members are can help spark dialogues and inspire innovation. Data providers can use the strategies we’ve compiled below to apply open data for local impact.</p>
      <p>Possible projects include short-term actions a government can take to help members of the community use open data. As such, they may be thought of as a “prototypes,” “pilots,” or “beta launches” of any new data, guidance, communication, project, initiative, tool, or partnership to support open data’s use. Ideally an intervention is informed by open data user research and targeted to specific community users and use cases.</p>
      <div class="funfact-blockquote">
        In our <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> framework, these resources correspond with <a href="{{ site.baseurl }}/methodology/#step-3-design">Step 3: Design</a> and <a href="{{ site.baseurl }}/methodology/#step-4-implement">Step 4: Implement</a>.
      </div>
    </div>
  </section>
</div>


<!-- <div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Collaboration playbooks</h3>
      <p>We’ve assembled the following playbooks to show you how cities and data-savvy organizations are collaborating with diverse stakeholder groups to build community relationships and apply open data. Each playbook was assembled in cooperation with host organizations, with step-by-step instructions for readers to test out strategies on their own.</p>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/action-thumbnails/code-for-pgh.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="TDE Playbook"
         tagline="Data User Groups"
         description="Learn what a data user group is, and how it can help strengthen communication between data providers, users, and intermediaries to solve community challenges."
         link="https://sunlight-foundation.gitbooks.io/playbook-data-user-groups/content/home.html"
        %}
        {% include card.html
         image_src="/assets/img/action-thumbnails/scopeathon-blog.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="TDE Playbook"
         tagline="Scope-a-thons"
         description="A scope-a-thon is a day-long collaborative event where local experts convene to scope and plan solutions that incorporate data and technology to address community challenges."
         link="https://sunlight-open-cities.gitbook.io/playbook-open-data-scope-a-thon/"
        %}
      </div>
    </div>
  </section>
</div> -->


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>What level of action are you ready to take?</h2>
      <p>Action can take many forms, ranging from fundamental steps to lower barriers to open data access to more substantive collaboration and power sharing with specific community partners who can leverage open data for specific outcomes.</p>
      <p>We have created a “maturity ladder” to help you think about these different levels of action.</p>
      <img src="{{ site.baseurl }}/assets/img/tde/tde-maturity-ladder.png" />
      <p>When designing interventions to support your researched community use cases for open data, it can be helpful to brainstorm what kinds of actions you might take to better support your target open data users and use cases at each of the levels on this ladder.</p>

    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/tde/tde-maturity-ladder.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Maturity ladder"
         description="This resource provides guidance to cities on what an intervention is, and what forms they can take, while also mapping interventions along a “maturity ladder” of engagement."
         link="https://docs.google.com/document/d/1SXG3fo1SkPsG_4fofLGkJm5X7NYOnQztHJQIYOMy4hU/edit?usp=sharing"
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-quiz.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Quiz: Where am I on the maturity ladder?"
         description="Use this self-assessment to figure out the “maturity level” of your open data program."
         link=""
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Finding collaborators</h2>
      <p>In order to co-design and implement an intervention, you will need community partners. Below are several resources to help you find collaborators. Make sure you do this before moving on.</p>
      <p><strong>Goal:</strong> Finding community collaborators to co-design with.</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/action-thumbnails/code-for-pgh.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Playbook"
         tagline="Data User Groups"
         description="Learn what a data user group is, and how it can help strengthen communication between data providers, users, and intermediaries to solve community challenges."
         link="https://sunlight-foundation.gitbooks.io/playbook-data-user-groups/content/home.html"
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/stakeholder-map-small.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Playbook"
         tagline="Data Days CLE/Data Walks"
         description="IRL/analog data visualizations that non-technical people can engage with."
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="What is a data intermediary?"
         description="Could include some descriptions/profiles of a few different types of data intermediaries. Common traits of data intermediaries and how to identify them."
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-quiz.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Tapping into community advocates: digital rights, digital inclusion"
         description="How to support/engage with other initiatives that help people access information — e.g. access to internet."
         link=""
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Co-designing a project</h2>
      <p>Now it's time to leverage your community relationships in order to co-design a potential solution.</p>
      <p><strong>Goal:</strong> Creating a community-informed action plan and knowing what you plan to build or publish.</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="What is co-design?"
         description="(Blog post)"
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/stakeholder-map-small.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Guide to various co-design methods"
         description="Lots of awesome methods!"
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-quiz.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Playbooks for various specific co-design methods"
         description="(One playbook per method)"
         link=""
        %}
        {% include card.html
         image_src="/assets/img/action-thumbnails/scopeathon-blog.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency="Playbook"
         tagline="Scope-a-thons"
         description="A scope-a-thon is a day-long collaborative event where local experts convene to scope and plan solutions that incorporate data and technology to address community challenges."
         link="https://sunlight-open-cities.gitbook.io/playbook-open-data-scope-a-thon/"
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="When public consultations & public comments don’t work"
         description="(Blog post)"
         link=""
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Ideas for possible solutions</h2>
      <p>Then thinking about ideas for possible solutions, it may be helpful to remember where your community is on the “open data maturity ladder” mentioned earlier on this page. What type of a solution you are able to do now depends on ____.</p>
      <p>Below are some ideas to match different steps on the ladder — but note that your solution can look like any of these things and more! This is just to provide some inspiration.</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <h3>Level 1: Lower barriers to access</h3>
      <br>
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="[Maybe] Popular data to publish"
         description="Nathan's research on top-used data and Alena's research on top-requested data."
         link=""
        %}
      </div>
      <h3>Level 2: Lower barriers to use</h3>
      <br>
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Data standards"
         description=""
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/stakeholder-map-small.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Metadata"
         description=""
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-quiz.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Data user guides"
         description="Or other how-to guidance for open data"
         link=""
        %}
      </div>
      <h3>Level 3: Improve responsiveness to community needs</h3>
      <br>
      <p>[TBD]</p>
      <h3>Level 4: Document and showcase community uses</h3>
      <br>
      <p>[Storytelling examples?]</p>
      <h3>Level 5: Prompt and incentivize community uses</h3>
      <br>
      <p>[TBD]</p>
      <h3>Level 6: Partner to support community uses</h3>
      <br>
      <p>[TBD]</p>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Building or publishing a product</h2>
      <p>Now it's time to do the thing!</p>
      <p><strong>Goal:</strong> Something real!!! Data solution</p>
      </div>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Guide to user testing"
         description="A really awesome guide. Based on Nepal workshop activity."
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="(More things?)"
         description=""
         link=""
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Iterate!</h2>
      <p>This entire process is meant to be iterative. After launching some new solution, we encourage you to see how things work out, and improve things by returning to one of the previous steps and then following the successive steps again.</p>
      <p>[Include some sort of graphic? Such as a modified version of these below?]</p>
      <img src="{{ site.baseurl }}/assets/img/tde/tde-return-to-1find.png" />
      <img src="{{ site.baseurl }}/assets/img/tde/tde-return-to-2refine.png" />
      <img src="{{ site.baseurl }}/assets/img/tde/tde-return-to-3design.png" />
      <p>[Include anything about results evaluation?]</p>
    </div>
  </section>
</div>
<br>
<br>
<br>
<br>
