---
layout: default
permalink: '/index-long'
---

<section class="background-dark">
  <section class="hero hero-primary">
    <div class="usa-grid">
      <div class="hero-callout hero-callout-primary background-dark usa-width-one-third usa-width-tablet">
        <h2>Tools for community-centered open data</h2>
      </div>
    </div>
  </section>
</section>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
      <br>
    </div>
  </section>
</div>


<section class="background-dark usa-section section-intro">
  <div class="usa-grid">
    <div class="section-intro-header">
      <h1>Discovery methods </h1>
      <h3 class="section-heading section-heading-alt">How to conduct user research for open data</h3>
    </div>
  </div>
</section>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
      <br>
      <!-- <h3>Conducting user research</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor:</p> -->
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Getting started</h3>
      <p>Looking to launch an open data project? To make sure your work is grounded in your community’s needs, you’ll need to investigate “Who” is out there, “What” they might need, and “Why” they care. We've created a guide to methods you can use, and a self-assessment to see if you're ready to move on.</p>
      <p>
        <a href="{{ site.baseurl }}/wwc/" class="link-arrow-right" tabindex="0">
          More information for cities trying to meet What Works Cities certification criteria
          {% include svg/icons/arrow-right.svg %}
        </a>
      </p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="List of research methods"
         description="Use this list of engagement methods will help you kick off or focus your outreach."
         link="https://sunlightfoundation.com/tde/focus-methods"
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="FUTURE: Analyzing demand for datasets"
         description=""
         link=""
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Finding a focus area</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Playbook: Hosting a civic scope-a-thon"
         description="[Exciting description of scope-a-thons]"
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-quiz.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Self assessment"
         description="See if you have learned enough to launch your open data project around a clear focus area."
         link="http://sunlightfoundation.com/tde/focus-quiz"
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Understanding data users</h3>
      <p>Understanding data users is, of course, central to a user-centered approach to open data. We encourage you to think about current and potential data users and community stakeholders.</p>
      <p>User personas are like fictional characters, but their characteristics are assembled from patterns across interviews with community members. Use them to understand your residents and communicate about the roles, needs, and challenges of potential open data users.</p>
      <p>Developing user personas is sometimes an iterative process, building on research and design sprints according to the capacity and objectives of your office. We recommend creating your own personas by conducting ethnographic research and synthesizing qualitative evidence into prototypes. If that's not immediately feasible, you can workshop internal insights to make preliminary personas before investing in user research.</p>
      <!-- <p>Four resources can help you adopt this user-centered design technique.</p> -->
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Mapping community stakeholders"
         description=""
         link=""
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Questions to ask potential data users (?)"
         description=""
         link=""
        %}
        {% include card.html
         image_src="/assets/img/personas/tips.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Tips: Creating user personas for open data"
         description="Use these tips as a guide to compile ethnographic observations into a format that allows designers to relate to users at a glance."
         link="creating-user-personas"
        %}
        {% include card.html
         image_src="/assets/img/personas/affinity.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="How to run personas workshops"
         description="Run a workshop that produces quick-and-dirty preliminary personas"
         link="personas-workshops"
        %}
          {% include card.html
         image_src="/assets/img/personas/user-personas.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Understanding user personas"
         description="Methods: what they are and where they come from"
         link="understanding-user-personas"
        %}
        {% include card.html
         image_src="/assets/img/personas/persona_image.jpeg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Library of user personas"
         description="We collected all existing open data user personas that we could find, hoping more cities will follow."
         link="personas-library"
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Supporting clear use cases</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="What is a good use case?"
         description=""
         link=""
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="FUTURE: Highlighting successful community uses"
         description=""
         link=""
        %}
      </div>
    </div>
  </section>
</div>


<section class="background-dark usa-section section-intro">
  <div class="usa-grid">
    <div class="section-intro-header">
      <h1>Action methods </h1>
      <h3 class="section-heading section-heading-alt">Design and implement a user-centered intervention</h3>
    </div>
  </div>
</section>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor.</p>
      <p>In the meantime, here are some resources you may find useful:</p>
      <ul>
        <li><a href="">Lorem ipsum dolor sit amet</a></li>
        <li><a href="">Consectetur adipiscing elit imperdiet</a></li>
        <li><a href="">Quis rutrum libero euismod</a></li>
        <li><a href="">Vestibulum placerat condimentum pellentesque</a></li>
      </ul>
      <p>Follow <a href="https://sunlightfoundation.com/blog/">our blog</a> to find out when we add more resources for the “action” phase!</p>
      <br>
      <!-- <br>
      <h3>Co-creating and planning</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor:</p> -->
    </div>
  </section>
</div>

<section class="background-dark usa-section section-intro">
  <div class="usa-grid">
    <div class="section-intro-header">
      <h1>Case studies </h1>
      <h3 class="section-heading section-heading-alt">See how this approach has been used in the real world</h3>
    </div>
  </div>
</section>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>Sunlight’s Open Cities team has been researching and piloting best practices in facilitating community use of open data to continuously develop our <a href="{{ site.baseurl }}/philosophy/">Tactical Data Engagement</a> (TDE) framework.</p>
      <p>In March 2017, we released the beta version of our TDE guide and began reaching out to What Works Cities to gather feedback on the guide’s instructions for city officials. As a result of those productive conversations, we found opportunities to start piloting the framework itself with cities in the What Works Cities partnership.</p>
      <p>In beginning to pilot the approach, we hoped to confirm our framework’s relevance to city open data goals, iteratively improve the TDE model to ensure our process is replicable and intuitive enough for cities to use on their own, and to develop new case studies to demonstrate the types of tactical approaches that we believe will facilitate the community use of data. Read more about our TDE pilot projects:</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% for case_study in site.case_studies %}
        {% assign case_study_url = site.baseurl | append: case_study.url %}
        {% include card.html
         image_src=case_study.image_primary
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline=case_study.title
         description=""
         link=case_study_url
        %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>


<section class="background-dark usa-section section-intro">
  <div class="usa-grid">
    <div class="section-intro-header">
      <h1>Guiding philosophy</h1>
      <h3 class="section-heading section-heading-alt">The driving philosophy here is called Tactical Data Engagement (TDE), which focuses on how governments can facilitate community use of open data.</h3>
      <a href="{{ site.baseurl }}/philosophy/" tabindex="-1"><button class="usa-button usa-button-big usa-button-secondary">Learn more about TDE</button></a>
    </div>
  </div>
</section>
