---
title: "Case studies"
lead: "Learn more about how these approaches have been applied through our work in pilot cities"
layout: primary
content_wide: true
gridless: true
image_primary: "/assets/img/case-studies/madison.png"
---

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>We’ve piloted a number of innovative approaches to open data and provide access to information for community problem solving. Our case studies investigate how Sunlight and our partners apply community-centered open data and the <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> (TDE) framework to make local governments more transparent, accountable, and participatory.</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        <!-- See README.md for instructions in what to put here -->
        {% include card-case-study.html slug='austin-homeless' %}
        {% include card-case-study.html slug='norfolk' %}
        {% include card-case-study.html slug='madison' %}
        {% include card-case-study.html slug='glendale-development' %}
        {% include card-case-study.html slug='glendale-contracting' %}
      </div>
    </div>
  </section>
</div>
