---
title: "Case studies"
lead: "Learn more about how these approaches have been applied through our work in pilot cities"
layout: primary
content_wide: true
gridless: true
---

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>We've piloted a number of innovative approaches to open data and provide access to information for community problem solving. Our case studies investigate how Sunlight and our partners apply community-centered open data and the <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> (TDE) framework to make local governments more transparent, accountable, and participatory.</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% for case_study in site.case_studies %}
        {% assign case_study_url = site.baseurl | append: case_study.url %}
        {% include card.html
         image_src=case_study.image_primary
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=case_study.agency
         tagline=case_study.title
         description=""
         link=case_study_url
        %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
