---
title: "Case studies"
lead: "Learn more about how these approaches have been applied through work in various cities"
layout: primary
content_wide: true
gridless: true
image_primary: "/assets/img/case-studies/madison.png"
---

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>Sunlight’s Open Cities team has been researching and piloting best practices in facilitating community use of open data to continuously develop our <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> (TDE) framework. Here are some examples:</p>
    </div>
  </section>
</div>



<!-- <div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Current version</h2>
      <p>Sunlight’s Open Cities team has been researching and piloting best practices in facilitating community use of open data to continuously develop our <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> (TDE) framework.</p>
    </div>
  </section>
</div> -->

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/case-studies/madison.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Norfolk, VA"
         description=""
         link=""
        %}
        {% include card.html
         image_src="/assets/img/case-studies/glendale-development.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Austin, TX"
         description=""
         link=""
        %}
        {% include card.html
         image_src="/assets/img/case-studies/glendale-city-hall.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Fayetteville, NC"
         description=""
         link=""
        %}
        {% include card.html
         image_src="/assets/img/case-studies/madison.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Irving, TX"
         description=""
         link=""
        %}
      </div>
    </div>
  </section>
</div>



<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Other examples</h2>
      <p>The types of approaches described on this site have also been used by government agencies outside of work being done by the Sunlight Open Cities team. Here are a few examples:</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/case-studies/glendale-city-hall.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Tree Kit"
         description="(June)"
         link=""
        %}
        {% include card.html
         image_src="/assets/img/case-studies/glendale-development.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="NYC Housing"
         description="(July/August)"
         link=""
        %}
      </div>
    </div>
  </section>
</div>



<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>Beta testing</h2>
      <p>In March 2017, we released the beta version of our TDE guide and began reaching out to What Works Cities to gather feedback on the guide’s instructions for city officials. As a result of those productive conversations, we found opportunities to start piloting the framework itself with cities in the What Works Cities partnership.</p>
      <p>In beginning to pilot the approach, we hoped to confirm our framework’s relevance to city open data goals, iteratively improve the TDE model to ensure our process is replicable and intuitive enough for cities to use on their own, and to develop new case studies to demonstrate the types of tactical approaches that we believe will facilitate the community use of data. Read more about our TDE pilot projects:</p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% for case_study in site.case_studies %}
        {% assign case_study_url = site.baseurl | append: case_study.url %}
        {% include card.html
         image_src=case_study.image_primary
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline=case_study.title
         description=""
         link=case_study_url
        %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
