<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h2>{{ include.place_name }}</h2>
      <p>{{ include.place_desc }}</p>
      {% for link in include.links %}
        {% assign link_text = link[0] %}
        {% assign link_url = link[1] %}
        {%
          include link-arrow-right.html
          url=link_url
          text=link_text
        %}
      {% endfor %}
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% assign place_personas = site.data.personas_list | where: "place", include.place_code %}
        {% for persona in place_personas %}
        {% capture name_string %}{% if persona.name %}{{ persona.name }}{% endif %}{% if persona.age %}, {{ persona.age }}{% endif %}{% endcapture %}
        {% if persona.image == "none" %}
          {% assign image_location = "none" %}
        {% else %}
          {% assign image_location = "/assets/img/personas/" | append: persona.image %}
        {% endif %}
        {% include card.html
          image_src=image_location
          image_alt=project.image_accessibility
          image_icon=project.image_icon
          agency=name_string
          tagline=persona.title
          description=persona.desc
          link=persona.link
        %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
