// Custom rules for this site. In general, the goal is to not have ad-hoc rules like this, but it's being done here to avoid messing with the intricately complicated style rules that come with the site. This is only for the featured-resources section of the home page.


// Custom styles for Sunlight bar at top of page:

.usa-disclaimer {
    height: 4.1rem !important;
    font-size: 1.6rem !important;
    padding-top: 0.5rem;
}

.usa-disclaimer-inner {
    margin: 0 auto;
    display: table;
}

.usa-disclaimer-official p {
    vertical-align: middle;
    color: gray;
    margin-right: 7px !important;
    padding-top: 2px;
}

.usa-disclaimer-official img {
    float: none !important;
    width: unset !important;
    height: 3rem;
    vertical-align: middle;
}

.site-logo img {
    /* width: 13rem; */
    height: 4.5rem;
}


// Custom font for headers:

h1, h2, h3 {
    font-family: 'adrianna' !important; // fallback is the regular $font-sans
}

// Custom styles for header:

header[role=banner] {
    background-color: #137b80;
}

a.site-logo {
  margin-top: 2rem;
}

a.site-logo img {
  height: 7rem;
  width: auto;
}

div.site-navbar nav {
  padding-top: 2rem;
}

div.site-navbar nav ul li a {
    color: white;
}

// Rules for the display of accordions on home page:

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    // background-color: #eee;
    // color: #444;
    cursor: pointer;
    padding: 13px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 12px;
    background-image: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Plus and minus signs on the accordion buttons */
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

// Fix card arrangement in two-column layout:

.usa-grid .usa-width-one-half:nth-child(even) {
    margin-right: 0;
}
