---
title: Discovery methods
layout: primary
lead: How to conduct user research for open data
content_wide: true
content_focus: false
banner_cta: true
gridless: true
---
<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <p>Governments have the power to share open data and information that catalyzes community problem-solving. The challenge is knowing which data to share and how to share it. We've assembled the following strategies to help data providers find the right issue to tackle with open data, and to dive deeper into understanding residents' information needs.</p>
      <br>
      <!-- <h3>Conducting user research</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus ipsum ac nisl suscipit, quis rutrum libero euismod. Vestibulum placerat condimentum pellentesque. Aenean viverra elit ut dui imperdiet semper. Sed pulvinar ligula sit amet purus tristique, sed blandit lorem mollis. Nullam pulvinar mollis eros ornare tempor:</p> -->
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Finding a focus area</h3>
      <p>Looking to launch an open data project? Ensure work is grounded community needs by conducting research to determine potential data users and their information needs. The resources below are designed to help cities looking to launch a data program determine a clear focus area and understand effective methods of community engagement.</p>
      <div class="funfact-blockquote">
        In our <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> framework, these resources correspond with <a href="{{ site.baseurl }}/methodology/#step-1-find">Step 1: Find</a>.
      </div>
      <p>
        <a href="{{ site.baseurl }}/wwc/" class="link-arrow-right" tabindex="0">
          More information for cities trying to meet What Works Cities certification criteria
          {% include svg/icons/arrow-right.svg %}
        </a>
      </p>
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-methods.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="List of research methods"
         description="Use this list of engagement methods for targeted outreach."
         link="https://sunlightfoundation.com/tde/focus-methods"
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Mapping community stakeholders"
         description="Explore effective ways of engaging with different community stakeholders."
         link=""
        %}
        {% include card.html
         image_src="/assets/img/discovery-thumbnails/focus-quiz.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Self assessment"
         description="Take the assessment to ensure a clear focus area of the open data project."
         link="http://sunlightfoundation.com/tde/focus-quiz"
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Understanding data users</h3>
      <p>Understanding data users is central to a user-centered approach to open data. Consider both current and potential data users, as well as community stakeholders.</p>
      <p>User personas are fictional characters, but their characteristics are assembled from patterns across interviews with community members. This makes them useful in understanding residents and the roles, needs, and challenges of potential open data users.</p>
      <p>Developing user personas can be an iterative process, building on research and design sprints according to the capacity and objectives of each individual program. Cities should create their own personas by conducting ethnographic research and synthesizing qualitative evidence into prototypes. If not immediately feasible, it may be optimal to workshop internal insights to create preliminary personas before investing in dedicated user research.</p>
      <div class="funfact-blockquote">
        In our <a href="{{ site.baseurl }}/methodology/">Tactical Data Engagement</a> framework, these resources correspond with <a href="{{ site.baseurl }}/methodology/#step-2-refine">Step 2: Refine</a>.
      </div>
      <!-- <p>Four resources can help you adopt this user-centered design technique.</p> -->
    </div>
  </section>
</div>

<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-section-bottom">
      <div class="usa-flex usa-flex-wrap">
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Questions to ask potential data users (?)"
         description=""
         link=""
        %}
        {% include card.html
         image_src="/assets/img/personas/tips.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Tips: Creating user personas for open data"
         description="Use these tips as a guide to compile ethnographic observations into a format that allows designers to relate to users at a glance."
         link="creating-user-personas"
        %}
        {% include card.html
         image_src="/assets/img/personas/affinity.png"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="How to run personas workshops"
         description="Run a workshop that produces quick preliminary personas"
         link="personas-workshops"
        %}
          {% include card.html
         image_src="/assets/img/personas/user-personas.jpg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Understanding user personas"
         description="Read more about the utility of user personas for a community-centered approach"
         link="understanding-user-personas"
        %}
        {% include card.html
         image_src="/assets/img/personas/persona_image.jpeg"
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Library of user personas"
         description="A collection all known open data user personas."
         link="personas-library"
        %}
        {% include card.html
         image_src=project.image
         image_alt=project.image_accessibility
         image_icon=project.image_icon
         agency=project.agency
         tagline="Do you know your open data’s use cases?"
         description="Planning with use cases can ensure that open data will be used to productive and potentially impactful ends."
         link="use-cases/"
        %}
      </div>
    </div>
  </section>
</div>


<div class="usa-grid">
  <section class="usa-section">
    <div class="usa-width-two-thirds">
      <h3>Next: the Action phase</h3>
      <p>[Rewrite this!] Once you’re done with using various Discovery methods listed on this page, it’s time to move on to the Action phase.</p>
      <a href="{{ site.baseurl }}/action/">
        <button class="usa-button usa-button-big">See Action methods</button>
      </a>
    </div>
  </section>
</div>
<br>
<br>
<br>

<!-- <script src="{{ site.baseurl }}/assets/js/create-toc-from-headings.js"></script> -->
